<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personalcarservicecard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalCarServiceCard">
        <activity android:name=".activities.ServiceReviewFormActivity"></activity>
        <activity android:name=".activities.CarDetailsFormActivity" />
        <activity android:name=".LauncherActivity" />
        <activity android:name=".activities.CarChangesFormActivity" />
        <activity android:name=".activities.CarChangesActivity" />
        <activity android:name=".activities.ServiceReviewActivity" />
        <activity android:name=".activities.DetailsCarActivity" />
        <activity android:name=".activities.RevisionsFormActivity" />
        <activity android:name=".activities.RevisionsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>